.Cobuttons
{
border:solid 2px;
background-color:#d8d9d7;
height:60px;
width: 10%;

border-radius:5px;
float:right;
}

.champCo
{
border:solid 2px;
border-radius:5px;
height:120px;
width:10%;

background-color:#d8d9d7;
float:right;
}

.SeCo
{
text-align:center;
}

.Cosub
{
text-align:center;
}

.CoBloc3
{
border:solid 2px;
height:150px;
width:25%;

background-color:#d8d9d7; 
float:right;
border-radius:5px;
}

.CoBlocPic
{
border:solid 1px;
height:100px;
width:100px;
border-radius:50px;
overflow:hidden;
display:inline-block;
padding-top:auto;
padding-bottom:auto;
}

.CoBlocLog
{
display:inline-block;
vertical-align: central;
font-size:20px;
font-weight:bold;
}


.Cobuttons , .champCo , .CoBloc3
{
    top:0;
}

aside
{
    height:50px;
}

.center
{
   margin:auto;
}