*
{
        padding: 0;
        margin: 0;
        font-family: Helvetica;
        
}

body
{
        position: relative;
	color:black;
	height:100%;
        background-size: 100%;
        min-height:900px;
        overflow:auto;
        
        background-color:#f1f1f1;
}

//content of the page
.content
{
    display:block;
    
    border-color:black;
    width:70%;
    
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 400px;
    height:1000px;
    background-size:100%;
    background-color:white;
    //background-image: url("pictures/logo.png");
    top:250px;
    
    
}

.header
{
        width: 100%;
        height: 100%;
        background-size: cover;
        min-width:1280px;
        font-size:60px;
        display:inlin-block;
}

header
{
	width: 100%;
        height: 70px;
	background-color:#00BCE0;
	text-align:center;
        min-width:1280px;
        display:block;
        color:#fafafa;
        border-radius:17px 17px 0 0;
        
        
}

footer
{
	display: block;
	width: 100%;
	background-color:white;
        min-height: 100px;
        color:black;
        height:10%;
        min-width:1280px;
        background-color:#ffffff;
        bottom:0px;
        
        
}

nav
{
	width: 100%;
        height: 28px;   
        float:left;
        z-index:1000;
        
        margin-bottom: 1px; 
        min-width:1280px;
        border-bottom:solid 1px;
        border-radius:0 0 17px 17px;
        overflow: visible;
        
}




.colonne1 , .colonne2 , .colonne3 
{
    float: left;
    display : block; /* on change le type d'élément, les liens deviennent des balises de type block */
    padding : 0px; /* aucune marge intérieure */
    background-color:#ffffff;/* couleur de fond */        
    color : #fff; /* couleur du texte */
    text-decoration : none; /* on supprime le style par défaut des liens (la plupart du temps = souligné) */
    width : 33.1%; /* largeur */
    margin : 0px;
    list-style : none; /* on supprime le style par défaut de la liste */
    line-height : 15px; /* on définit une hauteur pour chaque élément */
    text-align : center; /* on centre le texte qui se trouve dans la liste */
    border-color:black;
    border:1px solid black;
    height:10%;
    min-height:110px;
    margin-left:2px;
    bottom:0px;
    
}
.titre_colonne_1 , .titre_colonne_2 , .titre_colonne_3
{
    text-decoration : none;
    
}
.footerLink
{
    text-decoration: none;
}

/* Petit guide pour pas se paumer dans tous les niveaux :

	ul.linkBlockList encadre le tout
	li.linkBlockElement est la balise li qui permet d'aligner les éléments
horizontalement, pour le premier niveau seulement.
	a.linkBlock entoure les simples liens de premier niveau
	li.subMenuDisplayer entoure les cases qui déploient un menu déroulant
	ul.subMenuBlockList est la liste de deuxième niveau
	a.subMenuLinkBlock entoure les liens de deuxième niveau
*/

ul.linkBlockList
{
    position: relative;
    display: block;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    border:1px solid;
    border-color:black;
}

li.linkBlockElement, li.subMenuDisplayer 
{
	/* Permet que les éléments s'alignent horizontalement */
	float: left;
        box-sizing: border-box;
        width:20%;
        
}

a.linkBlock:link, a.linkBlock:visited  
{
    display: block;
    min-width: 140px;
    font-weight: bold;
    color: #ffffff;
    background-color:#00BCE0;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    
}

a.subMenuLinkBlock:link, a.subMenuLinkBlock:visited 
{
    display: block;
    width: auto;
    color: #000000;
    background-color:#00BCE0;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    color:white;
    z-index:1000;
}

a.linkBlock:hover
{
  background-color:#00BCE0; 
}

a.linkBlock:hover,a.subMenuLinkBlock:hover
{
    border:solid 1px;
    border-color:#ffffff;
    z-index:1000;
}

a.linkBlock:active,
a.subMenuLinkBlock:hover, a.subMenuLinkBlock:active 
{
	/* Changement de couleur pour indiquer le bloc qui nous intéresse */
    background-color:#00BCE0;
    z-index:1000;
        
}

ul.linkBlockList ul.subMenuBlockList 
{
	/* Par défaut, le sous-menu est caché */
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
   
    
    
}

li.subMenuDisplayer:hover ul.subMenuBlockList 
{
	/* Lorsqu'on passe sur le subMenuDisplayBlock, le sous-menu s'affiche */
	display: block;
        
}

li.subMenuBlockList
{
    width:100%;
    z-index:1000;
}