*
{
background-color: #b7cefb;
}

.MiddlePage
{
width:1200px;
margin:auto;
}

.RightCol
{
float:right;
width:900px;
}

.title
{
border: solid 2px;
width:900px;
float:right;
height:50px;
margin-bottom: 10px;
text-align: center;
}

.PhotosButtons  /*Modifie le bloc des photos*/
{
border: solid 2px;
width: 900px;
height: 200px;
float:right;
}

.Hpic
{
border:solid 1px;
width:60px;
height:60px;
}

.PhotosMM
{
padding-left:30px;
float:left;
}

.ButtonMM
{
float: right;
border:solid 1px;
margin-bottom:50%;
padding-left: 15px;
margin: 0px;
}

.DescriptionMM /* Modifie le bloc de description de la maison*/
{
border: solid 2px;
width: 900px;
height: 300px;
float:right;
margin-top:10px;
}

.txt
{
padding-left:15px;
}

.Hinformation
{
border: solid 2px;
width:900px;
height:auto;
margin-top: 10px;
float: right;
}

.ComMM /*Modifie le bloc des commentaires*/
{
border:solid 2px;
float:right;
margin-top:10px;
width:900px;
height:400px;
}

.TxtCom
{
padding-left:15px;
}

.DateMM /*Modifie le bloc des dates de dispo*/
{
border:solid 2px;
width:200px;
padding-right:0px;
padding-left:15px;
margin-top:10px;
}


.RapProf /*Modifie le bloc rappel profil*/
{
width:auto;
height:auto;
}

.sub
{
margin-top:15px;
float:right;
}