*
{
background-color: #b7cefb;
}

.MiddlePage
{
width:1200px;
margin:auto;
}

.RightCol
{
float:right;
width:900px;
}

.title
{
border: solid 2px;
width:900px;
float:right;
height:50px;
margin-bottom: 10px;
text-align: center;
}

.PhotosButtons  /*Modifie le bloc des photos*/
{
border: solid 2px;
width: 900px;
height: 200px;
float:right;
}

.Hpic
{
border:solid 1px;
width:60px;
height:60px;
}

.Photos
{
padding-left:30px;
width: 60%;
height:100%;
float:left;
display:inline-block;
}

.BD
{
display:inline-block;
width:35%;
height:50%;
}

.Buttons
{
float: right;
border:solid 1px;
margin-top:20px;
}

.Dates
{
float:right;
height:30px;
text-align:center;
font-size:15px;
margin-top:20px;
}

.DescriptionMM /* Modifie le bloc de description de la maison*/
{
border: solid 2px;
width: 900px;
height: 300px;
float:right;
margin-top:10px;
}

.txt
{
padding-left:15px;
padding-bottom:20px;
}

.Hinformation
{
border: solid 2px;
width:900px;
height:auto;
margin-top: 10px;
float: right;
}


.RapProf /*Modifie le bloc rappel profil*/
{
width:auto;
height:auto;
}

.rating
{
width:200px;
height:auto;
text-align:center
}

.typedate
{
width:5em;
}