/*Dimensionnement du <aside class="button">, décallage sur la droite et centrage des éléments*/
.button
{
width: 140px;
height : 75px;
margin-left: 85%;
padding-left: 10px;
padding-bottom: 10px;
}

/*Dimensionnement du <aside class="champ">, décallage sur la droite et centrage des éléments*/
.champ
{
width: 140px;
height: 200px;
margin-left: 85%;
padding-left: 10px;
}

/*Décalage entre les 2 boutons*/
.co
{
margin-bottom: 4px;
}

/*Decalage entre les 2 cases*/
.txtid
{
margin-bottom: 4px;
}

/*Décalage bouton droite*/
.button
{
border: solid 1px;
}

/*Décalage champs droite*/
.champ
{
border: solid 1px
}

/*Apparence "Se connecter"*/
.SeCo
{
font-family: "Times New Roman", Arial, Georgia, Serif;
font-size: 20px;
text-decoration: underline;
}

/*Apparence mdp oublié*/
.mdpo
{
font-size: 13px;
font-family: "Times New Roman", Arial, Georgia, Serif;
text-decoration: none;
color: #c9d3ca;
}

/*Apparence mdp oublié quand lien déjà visité*/
.mdpo:visited
{
color: #f871f9;
}
